doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Профиль #{userInfo.username}
    include modules/meta
    link(rel="stylesheet", href="/public/css/main.css")
    link(rel="stylesheet", href="/public/css/profile.css")
    link(rel="stylesheet", href="/public/css/lenta.css")

    script(type='module', src='/public/js/profile.js')
body
    include modules/header
    .layout_body
        content.content
            h1 Профиль какого-то даунича
            .profile(username=`${userInfo.username}`).flex.space_between_inner.flex-wrap
                .left
                    img.avatar(src=`${userInfo.avatar != null ? userInfo.avatar : "/public/img/default/avatar_small.png"}`)
                .right
                    h3.user
                        | #{userInfo.username}
                    p.about
                        | Обомне:
                        | #{userInfo.about != null ? userInfo.about : "Ты ничего не узнаешь"}

            .lenta
                if userInfo.articles.length == 0
                    h2 Я ничего не постил
                else
                    h2 Посты
                    hr.head
